:root {
	--gradient: linear-gradient(
		45deg,
		hsl(0, 0%, 14%),
		hsl(0, 0%, 13%),
		hsl(0, 0%, 12%),
		hsl(0, 0%, 7%),
		hsl(0, 0%, 13%),
		hsl(0, 0%, 11%)
	);
}
//45deg, $background, hsl(0, 0%, 11%), hsl(0, 1%, 13%), hsl(0, 2%, 16%), hsl(0, 3%, 19%)

html,
body {
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}

body {
	scrollbar-width: thin; /* "auto" or "thin" */
	scrollbar-color: $navborder $body; /* scroll thumb and track */
	scroll-padding-top: 1em;
	scroll-behavior: smooth;
	font-family: Comfortaa;
	font-size: 1em;
	background-size: 300%;
	background-image: var(--gradient);
	animation: bg-animation 200s infinite;
	color: #bfbfc0;
}

.body {
	border: 2px solid #666;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #999;
	animation: slideInUp 0.3s ease-in-out;
	background-color: hsl(220, 8%, 15%);
	width: 85%;
	padding: 1rem;
	margin-left: 15%;
}
body::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: $body; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: $background; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid $body; /* creates padding around scroll thumb */
}
