.sidenav {
	//border: 1px solid $border;
	justify-content: center;
	margin: auto;
	width: 13.7%;
	position: fixed;
	top: 20%;
	z-index: 1;
	//background-color: #222428;
	overflow-x: hidden;
	padding-top: 0%;
	animation: slideInLeft 0.3s ease-in-out;
	a {
		border-radius: 25px;
		background: $navbg;
		transition: 500ms linear;
		top: 60%;
		padding: 4% 4% 5% 4%;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: flex;
		.main {
			margin-left: 10%;
			padding: 0px 3%;
		}
		&:hover {
			color: #f1f1f1;
		}
	}
}
