.topnav {
	position: absolute;
	left: 15%;
	width: 100%;
	//margin: auto;
	position: relative;
	justify-content: center;
	align-items: center;
	//margin: auto;
	//background-color: $navbg;
	overflow: hidden;
	a {
		float: left;
		border-radius: 25px;
		background: $navbg;
		color: $gray;
		text-align: center;
		padding: 2px 40px;
		text-decoration: none;
		font-size: 20px;
		&:hover {
			color: $background;
		}
	}
}
