.topnav {
	width: 100%;
	margin: auto;
	position: sticky;
	background-color: $navbg;
	overflow: hidden;
	a {
		float: left;
		color: $gray;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			color: $background;
		}
	}
}
